* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  top: 0;
  font-family: 'Share Tech', sans-serif;
  height: 80px;
  background-color: #0e3e56;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ti {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000;
}
img {
  margin-right: 5px; /* Espacio entre el nombre y la imagen */
  width: 24px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 24px; /* Ajusta el tamaño de la imagen según tus necesidades */
  border-radius: 50%; /* Hace que la imagen sea redonda, útil para avatares */
  vertical-align: middle; /* Alinea verticalmente la imagen en el medio del texto */
  margin-bottom: 5px; /* Ajusta este valor para subir la imagen */
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#dropdownMenuButton{
  background-color: #0e3e56;
  padding-right: 10px;
}
#dropdownMenuButton:hover {
  background-color: #092939; /* Color más oscuro al hacer hover */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ebd4d4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #c4bfbf;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropdown-toggle {
  background-color: #8e863e;
}
